body {
    background-color: black;
    background-image: url('../src/images/oel5.PNG'), url('../src/images/moon.PNG');
    background-position: center 110px, center 50px;
    background-repeat: no-repeat;
    background-size: 550px, 785px;
    
}

button {
  cursor: pointer;
}
